{% extends "base.html" %}
{% load socialaccount %}
{% load static %}
{% block title %}MusicAI - Password Reset Request Submitted{% endblock title %}
{% block style %}
<style>
body{
    position: relative;
    height: 100vh;
}
body::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.719);
    z-index: -1;
}
body{
    background-color: #140F0F;
}
nav{
    z-index: 1;
}
#login_area{
    width: fit-content;
    height: fit-content;
}
.card.card-body.rounded-4.py-5 {
    background: #3e3e3e0d;
}
</style>
{% endblock style %}
{% block content %}
<div id="login_area"></div>
<div class="container">
<div class="row mt-5">
<div class="col-md-5 mx-auto mt-5 pt-5">
    <div class="card card-body rounded-4 py-5">
        <h3 class="text-center text-white mb-0">Musicai.Art</h3>
        <hr class="text-white mx-auto" width="25px">
        <p class="text-white">We've sent you instructions for setup your new password. If any account exists with the email you entered you should receive an email shortly.</p>
        <p class="text-white">If you didn't receive any email, please make sure you've entered the address you registered with, also make sure to check your spam folder.</p>
    </div>
</div>
</div>
</div>
{% endblock content %}
{% block script %}
<script src="{% static 'js/particles.js' %}"></script>
<script>
particlesJS('login_area',
  {
    "particles": {
      "number": {
        "value": 35,
        "density": {
          "enable": true,
          "value_area": 800
        }
      },
      "color": {
        "value": "#ffffff"
      },
      "shape": {
        "type": "circle",
        "stroke": {
          "width": 0,
          "color": "#000000"
        },
        "polygon": {
          "nb_sides": 5
        },
        "image": {
          "src": "img/github.svg",
          "width": 100,
          "height": 100
        }
      },
      "opacity": {
        "value": 0.5,
        "random": false,
        "anim": {
          "enable": false,
          "speed": 1,
          "opacity_min": 0.1,
          "sync": false
        }
      },
      "size": {
        "value": 5,
        "random": true,
        "anim": {
          "enable": false,
          "speed": 40,
          "size_min": 0.1,
          "sync": false
        }
      },
      "line_linked": {
        "enable": true,
        "distance": 150,
        "color": "#ffffff",
        "opacity": 0.4,
        "width": 1
      },
      "move": {
        "enable": true,
        "speed": 6,
        "direction": "none",
        "random": false,
        "straight": false,
        "out_mode": "out",
        "attract": {
          "enable": false,
          "rotateX": 600,
          "rotateY": 1200
        }
      }
    },
    "interactivity": {
      "detect_on": "canvas",
      "events": {
        "onhover": {
          "enable": true,
          "mode": "repulse"
        },
        "onclick": {
          "enable": true,
          "mode": "push"
        },
        "resize": true
      },
      "modes": {
        "grab": {
          "distance": 400,
          "line_linked": {
            "opacity": 1
          }
        },
        "bubble": {
          "distance": 400,
          "size": 40,
          "duration": 2,
          "opacity": 8,
          "speed": 3
        },
        "repulse": {
          "distance": 200
        },
        "push": {
          "particles_nb": 4
        },
        "remove": {
          "particles_nb": 2
        }
      }
    },
    "retina_detect": true,
    "config_demo": {
      "hide_card": false,
      "background_color": "#b61924",
      "background_image": "",
      "background_position": "50% 50%",
      "background_repeat": "no-repeat",
      "background_size": "cover"
    }
  }

);
</script>
{% endblock script %}