<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<style>
#mail_btn{
  color: #fff;
  background: #17a2b8;
  text-decoration: none;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
}
</style>
<body>
You're receiving this email because you requested a password reset for your user account at Musicai.
<br><br>
Please go to the following page and choose a new password:
<br><br>
<a href="{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}" id="mail_btn">Reset Password</a>
<br><br><br>
or go to this link: 
{% block reset_link %}
{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
{% endblock %}
<br><br>
Your username, in case you’ve forgotten: {{ user.get_username }}
<br><br>
sincerely -
<br>
Musicai Team
</body>
</html>